body{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    .heading
    {
    font-size: 75px;
    width: 100%;
    margin: 0px;
    font-family: 'Grape Nuts', cursive;
    color: white;
    }
    
    #status
    {
    font-size: 25px;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    }
    canvas{
    box-shadow:10px 10px 10px white;   
    border-radius:20px;
    }
    